<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="passwordContent" id="passwordModal" class="custom-modal-wrapper" style="display: none">
    <div class="modal-overlay" onclick="PasswordModal.close()"></div>
    <div class="modal-content-area">
      <header id="hd">
        <div class="container">
          <h1>비밀번호 입력</h1>
          <button type="button" class="btn-cls" onclick="PasswordModal.close()">닫기</button>
        </div>
      </header>

      <div id="ct">
        <div class="password-cnt-wrp">
          <div class="cnt row align-items-center">
            <div class="col">
              <div class="text-center">
                <p class="mb20">아이디 : <span class="text-underline" id="pw-modal-loginId">Su***********</span></p>
                <h2 class="h5 mb20">비밀번호를 입력해주세요.</h2>
                <div class="password-wrp">
                  <div class="password-bg-wrp" id="pw-dots">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  <p class="password-txt" style="cursor: pointer">비밀번호 찾기</p>
                </div>
                <div class="keypad-test mt-4">
                  <button type="button" onclick="PasswordModal.pushKey('1')">1</button>
                  <button type="button" onclick="PasswordModal.pushKey('2')">2</button>
                  <button type="button" onclick="PasswordModal.pushKey('3')">3</button>
                  <button type="button" onclick="PasswordModal.pushKey('4')">4</button>
                  <button type="button" onclick="PasswordModal.pushKey('5')">5</button>
                  <button type="button" onclick="PasswordModal.pushKey('6')">6</button>
                  <button type="button" onclick="PasswordModal.pushKey('7')">7</button>
                  <button type="button" onclick="PasswordModal.pushKey('8')">8</button>
                  <button type="button" onclick="PasswordModal.pushKey('9')">9</button>
                  <button type="button" onclick="PasswordModal.pushKey('0')">0</button>
                  <button type="button" onclick="PasswordModal.deleteKey()">DEL</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
